.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  h2 {
    color: #b76e79;
    font-size: 13.5px;
    margin: 8px 0 4px;
    text-align: left;
    font-weight: 600;
  }

  h3 {
    font-size: 13px;
    color: #b76e79;
    margin: 8px 0 4px;
    font-weight: 600;
  }

  h4 {
    margin: 6px 0 3px;
    color: #b76e79;
    font-size: 13px;
    font-weight: 600;
  }

  p {
    color: #71717a;
    margin: 4px 0;
    font-size: 13px;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 4px 0;

    li {
      position: relative;
      padding-left: 14px;
      margin: 3px 0;
      color: #71717a;
      font-size: 13px;
      line-height: 1.4;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ff9999;
      }
    }
  }

  ol {
    list-style: decimal;
    padding-left: 18px;
    margin: 4px 0;

    li {
      margin: 4px 0;
      color: #71717a;
      font-size: 13px;
    }
  }

  a {
    text-decoration: underline;
  }
}
